.product-item {
  border-radius: 60px;
  background: #fff;
  box-shadow: 2px 4px 6px #68FF42;
  text-align: center;
  padding: 1.5rem;
  cursor: pointer;
  transition: all 0.2s;
  
  &:hover {
    box-shadow: 2px 4px 2px #68FF42;
  }

  &__title {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}