-let pageTitle = 'Home'
-let siteName = 'EDboilerplate'
-let twitterAccount = '@edteamlat'
-let pageDescription = 'Simple boilerplate for static web projects with sass, pug and babel'
-let pageImage = ''
-
  let pages = [
    {
      title: 'Recetas',
      url: '/',
      child: []
    },
    {
      title: 'Productos',
      url: 'about.html',
      child: []
    },
    {
      title: 'Puntos de venta',
      url: 'about.html',
      child: []
    },
    {
      title: 'Contacto',
      url: 'about.html',
      child: []
    },
  ]
