// Vendors
@import "vendors/bootstrap/bootstrap.scss";
// @import "vendors/slick/slick.scss";
// @import "vendors/slick/slick-theme.scss";
// @import "vendors/fontawesome/all.min.scss";

// Config
@import "config/functions";
@import "config/variables";
@import "config/mixins";

// Base and elements (generic)
@import "base/base";

// LAYOUT
  // Escribe solo los estilos de layout (division en regiones del viewport)
@import "layout/layout";

// MODULOS
@import "components/buttons";
@import "components/menus";
@import "components/hero";
@import "components/products";
@import "components/recetas";
@import "components/locations";

// Theme (colors and fonts)
@import "theme/typography";

// Utilities (hacks)
  // Todos los hacks que hayas necesitado para solucionar conflictos
  // o resolver situaciones extremas. Se espera poder mejorarlos luego.
@import "hacks/hacks";

#page {
  overflow: visible;
  overflow-x: hidden;
}

.main-bg {
  position: relative;
  margin-top: 38rem;
}

.main-bg__container {
  margin-top: -7rem;
}

.vaso-resource {
  position: absolute;
  left: -15%;
}

.botella-sola-resource {
  width: 100%;
  max-width: 520px;
  z-index: 9;
  position: absolute;
  top: -4rem;
}

.recetas-section,
.premium-section,
.tomalo-section {
  position: relative;
}

.sabila-01 {
  position: absolute;
  left: -14rem;
  top: -12rem;
}

.sabila-02 {
  position: absolute;
  transform: rotate(170deg);
  right: -10rem;
}

.sabila-03 {
  position: absolute;
  right: auto;
  left: -18rem;
  top: -20rem;
  transform: rotate(-60deg);
}